* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    background-image: url('../images/loopbgapp.png');
    background-size: 375px;
    /* Hiermee wordt de afbeelding schermvullend gemaakt */
    background-repeat: repeat;
    /* Hiermee wordt de afbeelding herhaald op de achtergrond */
    background-position: center;
    /* Hiermee wordt de afbeelding in het midden geplaatst */
}

header {
    background-color: #d4ecfff2;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    /* Zorgt ervoor dat de navigatie bovenop andere elementen blijft */
}

header img {
    display: block;
    margin-left: 110px;
}

nav {
    max-width: 375px;
    margin: 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    font-weight: 50;
    font-size: 18px;
    color: rgb(0, 0, 0);
}
nav a:active {
    color: #008cff;
    background-color:#008cff7b ;
    transition-duration: 0.1s;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: -16px;
    scroll-margin-top: 150px
}

section p {
    font-weight: 100;
}

#welkom {
    width: 300px;
    height: 350px;
    border-radius: 30px;
    background-color: #ffe494a8;
    margin-top: 200px;
}

#duurzaam {
    padding-top: 30px;
    width: 300px;
    height: 650px;
    border-radius: 30px;
    background-color: #77b05480;
    margin-top: 50px;
}

#amsterdam {
    color: white;
    width: 300px;
    height: 650px;
    border-radius: 30px;
    background-color: #fa00008a;
    margin-top: 50px;
}

#geinteresseerd {
    color: white;
    width: 300px;
    height: 785px;
    border-radius: 30px;
    background-color: #01020078;
    margin-top: 50px;
}

#geinteresseerd div {
    margin-top: 25px;
}

#contact {
    color: white;
    width: 300px;
    height: 375px;
    border-radius: 30px;
    background-color: #005c7ed1;
    margin-top: 50px;
    margin-bottom: 50px;
}

.rainproof,
.dakdokters {
    width: 250px;
}

p {
    margin: 10px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 15px;
}

ul li {
    margin: 5px;
}

footer {
    background-color: #d4ecfff2;
    color: #000000;
    text-align: center;
    padding: 10px;
    font-size: 12px;
}